body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .section-title{
    padding: 100px;
    color: #073B39;
    
  }

  /*start of reusable*/
  .center{
    text-align: center;
    margin-block-end: auto;
    
    
  }
  /*end of reusable*/
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #7B9081;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      margin: 8px;
      text-decoration: none;
    }
    .icons{
        float: right;
    }
    li a:hover {
      background-color: #E9A39A;
    }
    
    
    
    .heroimage {
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    
    }
    .hero-text {
      text-align: left;
      position: absolute;
      top: 95%;
      left: 3%;
      transform: translate(none);
      color: #073B39;
      font-family: Georgia, 'Times New Roman', Times, serif
      drop-shadow: 0 0 0.75rem crimson;
      text-shadow: #FC0 1px 0 10px;

     
    }  
  
   
    .title{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
        padding-top: 30px;
        padding-right: 38px;
        color: #073B39;
    }
  
      .container-flex{
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: space-around;
        color: #073B39;
        margin-bottom: 80px;
        
      }
  .process-flex-box{
    margin: 40px;
    padding: 20px;
      height: 260px;
      width: 260px;
      border-radius: 100%;
      background-color: white;
      box-shadow: 0 0 0 2pt #073B3A; 
    justify-content: space-around;
      
  
  }
  #container-flex-image {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
 
  }
 
  .projects-flex-box{
      position: absolute;
     
  }

  

      footer{
          display: center;
          text-align: center;
          background-color:#7B9081;
          color: white;
          padding: 10px;



}
@media screen and (max-width: 600px) {

    .heroimage> * {
    width: 100%;
    height: 50%;
    }

.hero-text{
    font-size: 50%;
    padding: 10px;
    padding-top: 300px;
    

    position: absolute;
    top: 0;

    }

    .container-flex{
    flex-direction: column;
    }

    .container-flex > * {
        width: 100%;
    }
    .process-flex-box> * {
        width: 100%;
    }
    .process-flex-box {
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "Research"
        "Ideation"
        "Design";
    }

    .projects-flex-box{
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "Feather"
        "Pac 'n' Go"
        "Department of Education"
        "She Angels Foundation";
    }
}
    
